.main{
  background-image: url("https://images.unsplash.com/photo-1623915695133-d624f7759fd0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
